{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>{{anime.title}}</h1>
<p>Студия: {{anime.studio}}</p>
<p>Режиссёр: <a href="{% url 'anime:director_info' anime.director.pk %}">{{ anime.director }}</a></p>
<p>Дата релиза: {{anime.release_date.date}}</p>
<img src="{% static anime.image %}", width="300px">
<p>{{anime.description}}</p>
{% if user.is_authenticated %}
    <h4><a href="{% url 'anime:add_to_my_list' anime.id user.id %}">Добавить в список просмотренных</a></h4>
    <h4><a href="{% url 'anime:delete_from_my_list' anime.id user.id %}">Убрать из списка просмотренных</a></h4>
{% else %}
    <h4><a href="{% url 'login' %}">Войдите, чтобы добавить в свой список просмотренных</a></h4>
{% endif %}

{% if perms.anime.change_anime %}
    <p>
        <a href="{% url 'anime:update_anime' anime.pk %}">Изменить данные</a>
    </p>
{% endif %}
{% endblock content %}