{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if object_list %}
    <ul>
        {% for anime in object_list %}
            <h2><li><a href="{% url 'anime:anime_info' anime.id %}">{{ anime.title }}</a></li></h2>
            <img src="{% static anime.image %}", width="300px">
        {% endfor %}
    </ul>
    {% else %}
        <p>Пусто.</p>
    {% endif %}

<h1>Мой список: </h1>
{% if user.anime_set.all %}
    <ul>
    {% for anime in user.anime_set.all %}
        <h2><li><a href="{% url 'anime:anime_info' anime.id %}">{{ anime.title }}</a></li></h2>
    {% endfor %}
    </ul>
{% else %}
    <p> Пусто </p>
{% endif %}
{% endblock content %}