<div class="row">
    <div class="col-sm-9">
        <div class="card">
            <h1><a href="{% url 'anime:anime_list' %}" class="card-title">Animesite</a></h1>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            {% if user.is_authenticated %}
                <p class="card-title">Hi, {{user.username }}</p>
                <a href="{% url 'logout' %}" class="card-link">Log Out</a>
            {% else %}
                <p class="card-title">You are not logged in.</p>
                <a href="{% url 'login' %}" class="card-link">Log In</a>
            {% endif %}
        </div>
    </div>
</div>